<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Exercise 2.4</title>

    <!-- Bootstrap from node_modules -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <br>
      <h2>
          Web 340
      </h2>

      <br>

      <div class="container-fluid">
        <div class="card text-center">
            <div class="card-header">
              Exercise 2.4
            </div>
            <div class="card-body">
              <h5 class="card-title">My information:</h5>
              <p class="card-text">
                <p>
                    <strong>First Name: </strong> <span><%= firstName %> </span>
                </p>
                <p>
                    <strong>Last Name: </strong>  <span><%= lastName %></span>
                </p>
                <p>
                    <strong>Address: </strong>  <span><%= address %></span>
                </p>
              </p>
            </div>
          </div>      
      </div>
    
  </body>
</html>
