<% include header %>

<body>
  <% include navbar %>

  <div class="container">
    <div class="row center-content">
      <div class="col-lg-12 text-left">
        <h1 class="mt-5">Contact Us Page</h1>
        <hr>
        <p class="lead">
          <address>
            EMS LLC.<br>
            1234 Monteux Ave,<br>
            Papillon, NE 68999-9999
          </address>
        </p>
      </div>
    </div>
  </div>

  <% include footer %> <% include scripts %>
</body>
