<!DOCTYPE html>
<html lang="en">
  <% include header %>

  <body>
    <% include navbar %>

    <div role="main" class="container height-100">
      
      <div class="wrapper mt-5">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Welcome</h1>
            <p class="lead">This is the beginning of a milestone.</p>
          </div>
        </div>
      </div>
    </div>

    <% include footer %> <% include scripts %>
  </body>
</html>
