<% include header %>

<body>
  <% include navbar %>

  <div class="container landing-page">
    <div class="row center-content">
      <div class="col-lg-12 text-center">
        <h1>Welcome to the EMS landing page.</h1>
        <hr />
        <p class="lead">This is the beginning of many wonderful milestone!</p>
        <p>
          - Below is an example of our data generated tables -
        </p>
      </div>
    </div>

    <div class="row center-content">
      <% include list %>
    </div>
  </div>

  <% include footer %> <% include scripts %>
</body>
