<% include header %>

<body>
  <% include navbar %>

  <div class="landing-page mt-3">
    <section class="main">
      <div class="overlay"></div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>
            Welcome to the <strong class="ems-color-main">EMS</strong> landing
            page.
          </h1>
          <p class="lead">This is the beginning of many wonderful milestone!</p>
        </div>
      </div>
    </section>
  </div>

  <% include footer %> <% include scripts %>
</body>
